<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>Vroom vroom</h1>
        </div>
        <div class="images">
            <img src="./images/boss429.jpg" alt="boss429 mustang">
            <img src="../images/fordGT.jpg" alt="fordGT">
            <img src="../images/shelbygt500.jpg" alt="og gt 500">
            <img src="../images/ferrari-racing-pirelli.jpeg" alt="ferrri">
        </div>
    </div>
</body>
</html>