<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>Stupid cats</h1>
        </div>
        <div class="images">
            <img src="../images/reallystupidcat.jpg" alt="">
            <img src="../images/grumpycat.jpg" alt="">
            <img src="../images/stupidcat1.jpeg" alt="">
            <img src="../images/stupidcat2.jpg" alt="">
        </div>
    </div>
</body>
</html>