<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AWESOME PROJECT!!!</title>
</head>

<style>
* {
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
}
.user {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

</style>
<body>
  <form action="/users" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
    <button>Submit</button>
  </form>
  
  <h2>USERS</h2>
  <% for (user of users) { %>
    <div class="user">
      <div><%= user.name %></div>
      <div><%= user.email %></div>
      <a href="/users/<%= user._id %>">View</a>
    </div>
    <hr>
  <% } %>
</body>
</html>