* {
    padding: 0;
    margin: 0;
}

body {
    background-color: steelblue;
    text-align: center;
}
.images {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
img {
    width: 40%;
    height: 40%;
    margin: 20px;
    padding: 20px;
}