<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <% for (var user of users) { %>
  <h4>Name: <%= user.name %></h3>
  <h5>Email: <%= user.email %></h3>
  <hr>
  <% } %>
</body>
</html>
